- const mainMenu = [{"label": "O akci","link": "#o-akci" }, {"label": "Program","link": "#program" }, {"label": "Organizatoři","link": "#organizatori" }]

doctype html
html.no-js(lang="")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Hello FIT! 2020
        meta(name="description" content="")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="img/fitpp_white.png" rel="apple-touch-icon")
        link(href='img/fitpp_sqr.png' rel='icon')
        meta(name="theme-color" content="#1174BA")

        link(type="text/css" href="https://use.typekit.net/qlg5ujf.css" rel="stylesheet")

    body

        nav#main-nav
            div.widthWrap
                a(data-scroll href="#header")
                    img#logo(src=require("./img/fitpp_white.png"))
                ul
                    each item in mainMenu
                        li
                            a(href=item.link)=item.label
            
        header#header

            h1 Hello FIT!
            time#date 14. září 2021 od 10:00
            #place Fakulta informačních technologií ČVUT (Nová budova ČVUT)

            #header-buttons
                a.button1(href="https://youtu.be/-yH3fQoEQV4" target="_blank") Registrace
                a.button1(href="https://www.facebook.com/events/722671144968768/" target="_blank") FB Událost

        main

            article#o-akci
                .widthWrap
                    h2 O akci
                    p Nastupuješ do prvního ročníku bakalářského studia na FIT ČVUT? V tom případě je Hello FIT! akce přímo pro tebe!  
                    p Hello FIT! je jednodenní úvod do studia, který ti pomůže s přechodem ze střední školy na FIT. Čekají tě zajímavé a užitečné přednášky, workshopy, prohlídky prostor (nejen) fakulty a v neposlední řadě také večerní afterpárty.
                    p Jsou pro vás připravovány také další dvě seznamovací akce. První je oficiální seznamovák všech fakult ČVUT, zaČVUTění, který pro tebe připravuje Studentská unie ČVUT. Další akcí je Seznamovák FIT, kterou organizují studenti FIT.

            article#program
                .widthWrap
                    h2 Program
                    p **Přesný program pro tebe momentálně usilovně připravujeme, avšak už teď se můžeš těšit na následující přednášky.**
                    p V přednášce **Už tomu musíme vymyslet nějaký normální název, fakt :D** se dozvíš, jaké budou tvoje první dny v kůži vysokoškoláka a jak projít (nejen) prvním semestrem. Rady a tipy, které se ti prostě budou hodit.
                    p Následovně pečlivě **projdeme celý Kampus Dejvice**, aby ti bylo jasné, kde je co za fakultu, koleje, kam si můžeš zajít do menzy či do restaurace a podobně. Díky této prohlídce se už v kampusu neztratíš.
                    p Protože studentský život není jen usilovné studium, představíme ti **Studentské aktivity na ČVUT** se všemi možnostmi, které nabízí. Láká tě například správa serverů na Strahově, kde bydlí přes 4000 lidí? Nebo se chceš podívat na různá místa v zahraničí a ještě se přitom něco naučit? Baví tě sport, rád chodíš do divadla, hraješ DnD, nebo hry? Při tomhle všem můžeš potkávat i své spolužáky!
                    p Prozradíme ti informace o **spolupráci s průmyslem** aneb jak získat praxi již při studiu a nenechat se prací omezovat ve studiu. 
                    p Zúčastníš se **interaktivních přednášek** od Katedry aplikované matematiky a Davida Bernhauera, kde zjistíš, jak se nenechat zdeptat matikou a programováním hned v prvním semestru.
                    p A pak už nám zbývá jen **afterpárty**, kde si budeš moci popovídat se svými novými spolužáky.



                    <!--.program-item
                        h3 
                            .program-item--time 10:00
                            .program-item--title Už tomu musíme vymyslet nějaký normální název, fakt :D
                            .program-item--host FIT++
                        p.program-item--excerpt 
                            ul.program-item--links
                            li
                                a(href="https://youtu.be/-yH3fQoEQV4") Stream
                            li
                                a(href=require("./files/slides/HelloFit2020-obecna-prednaska-dopoledne.pdf")) Prezentace (PDF) -->

            article#organizatori
                .widthWrap
                    h2 Organizátoři

                    .contact-boxes-wrapper
                        .contact-box
                            .contact-box--photo-wrapper
                                img(src=require("advanced-image-loader!./img/contacts/kubo.jpg?width=200&quality=80")['src'] alt="Jakub Bartoň")
                            h3 Jakub Bartoň
                            .contact-box--link-icons
                              <!--  a.contact-box--link-icons--icon(href="https://facebook.com/kurkamil" target="_blank")
                                    img(src=require("./img/icons/facebook-box.svg") alt="facebook" inline)
                                a.contact-box--link-icons--icon(href="https://twitter.com/MilanKurka" title="@MilanKurka" target="_blank")
                                    img(src=require("./img/icons/twitter.svg") alt="twitter" inline) -->
                                a.contact-box--link-icons--icon(href="mailto:bartoj35@fit.cvut.com" title="bartoj35@fit.cvut.com" target="_blank")
                                    img(src=require("./img/icons/email-outline.svg") alt="e-mail" inline)
                            p.contact-box--bio Kubo právě prošel prvním ročníkem FITu. Kromě studia Bezpečnosti, se věnuje všemožným sportům. Je členem klubu FIT++ a mimo jiné se podílí na organizaci Dejvické Šifrovačky. 

                       <!-- .contact-box
                            .contact-box--photo-wrapper
                                img(src=require("advanced-image-loader!./img/contacts/marcel-petran.jpg?width=200&quality=80")['src'] alt="Marcel Petráň")
                            h3 Damián Baraník
                            .contact-box--link-icons
                                a.contact-box--link-icons--icon(href="https://facebook.com/marcel.petran.3" target="_blank")
                                    img(src=require("./img/icons/facebook-box.svg") alt="facebook" inline)
                                a.contact-box--link-icons--icon(href="https://twitter.com/marcelpetran" title="@marcelpetran" target="_blank")
                                    img(src=require("./img/icons/twitter.svg") alt="twitter" inline)
                                a.contact-box--link-icons--icon(href="mailto:petram21@fit.cvut.cz" title="petram21@fit.cvut.cz" target="_blank")
                                    img(src=require("./img/icons/email-outline.svg") alt="e-mail" inline)
                            p.contact-box--bio Marcel je zde poměrně nový. Sice studuje bakaláře prvním rokem, ale za tu dobu se stihl zapojit do mnoha projektů. Je také znám jako “Kluk z plakátu” a můžete ho najít na mnoha propagačních materiálech FITu. Kromě toho organizuje LAN party jak na FITu, tak i na své koleji. Aktivně se zapojuje do různých akcí a dělá dokonce admina na Sincoolce. Svůj volný čas využívá ke grafickému a webovému designu a je velký milovník memes, které taky sem tam tvoří. -->

                       <!-- .contact-box
                            .contact-box--photo-wrapper
                                img(src=require("advanced-image-loader!./img/contacts/marcel-petran.jpg?width=200&quality=80")['src'] alt="Marcel Petráň")
                            h3 Matěj Havránek
                            .contact-box--link-icons
                                a.contact-box--link-icons--icon(href="https://facebook.com/marcel.petran.3" target="_blank")
                                    img(src=require("./img/icons/facebook-box.svg") alt="facebook" inline)
                                a.contact-box--link-icons--icon(href="https://twitter.com/marcelpetran" title="@marcelpetran" target="_blank")
                                    img(src=require("./img/icons/twitter.svg") alt="twitter" inline)
                                a.contact-box--link-icons--icon(href="mailto:petram21@fit.cvut.cz" title="petram21@fit.cvut.cz" target="_blank")
                                    img(src=require("./img/icons/email-outline.svg") alt="e-mail" inline)
                            p.contact-box--bio Marcel je zde poměrně nový. Sice studuje bakaláře prvním rokem, ale za tu dobu se stihl zapojit do mnoha projektů. Je také znám jako “Kluk z plakátu” a můžete ho najít na mnoha propagačních materiálech FITu. Kromě toho organizuje LAN party jak na FITu, tak i na své koleji. Aktivně se zapojuje do různých akcí a dělá dokonce admina na Sincoolce. Svůj volný čas využívá ke grafickému a webovému designu a je velký milovník memes, které taky sem tam tvoří. -->

                        .contact-box
                            .contact-box--photo-wrapper
                                img(src=require("advanced-image-loader!./img/contacts/lucka.jpg?width=200&quality=80")['src'] alt="Lucie Procházková")
                            h3 Lucie Procházková
                            .contact-box--link-icons
                                a.contact-box--link-icons--icon(href="https://twitter.com/LuckaProch" target="_blank")
                                    img(src=require("./img/icons/twitter.svg") alt="twitter" inline)                                
                                a.contact-box--link-icons--icon(href="mailto:prochl10@fit.cvut.cz" title="prochl10@fit.cvut.cz" target="_blank")
                                    img(src=require("./img/icons/email-outline.svg") alt="e-mail" inline)
                            p.contact-box--bio Lucka je momentálně předsedkyně našeho fakultního klubu FIT++. Angažuje se, kde může, takže na ní narazíš na Strahově, ve škole, kde cvičí předmět BI-AAG, ve Student Hubu, který pomáhala zakládat, v redakci časopisu Buď FIT a samozřejmě kdekoli, kde se vyskytuje možnost potkat nové lidi.
                            
                       <!-- .contact-box
                            .contact-box--photo-wrapper
                                img(src=require("advanced-image-loader!./img/contacts/jaroslav-kriz.jpg?width=200&quality=80")['src'] alt="Jaroslav Kříž")
                            h3 Jaroslav Kříž
                            .contact-box--link-icons
                                a.contact-box--link-icons--icon(href="https://facebook.com/krizjar5" target="_blank")
                                    img(src=require("./img/icons/facebook-box.svg") alt="facebook" inline)
                                a.contact-box--link-icons--icon(href="https://twitter.com/krizjar5" title="@krizjar5" target="_blank")
                                    img(src=require("./img/icons/twitter.svg") alt="twitter" inline)
                                a.contact-box--link-icons--icon(href="mailto:krizjar5@fit.cvut.cz" title="krizjar5@fit.cvut.cz" target="_blank")
                                    img(src=require("./img/icons/email-outline.svg") alt="e-mail" inline)
                            p.contact-box--bio Jarda je člověk, který neřekne ne na žádnou akci. Takže ho uvidíš organizovat spoustu akcí v rámci fakulty, mimo ní a dokonce i FIT++. A pokud shodou okolností neorganizuje, na té akci se stejně potuluje. Poměrně úspěšně dostudoval bakaláře a pokračuji ve FIT krasojízdě. Neodmítá pozvání na Kofolu. Nebo Malinovku. To záleží. Snaží se věnovat i karate. -->

            article#prohlaseni
                .widthWrap
                    p Akce je organizována klubem FIT++ za podpory Fakulty informačních technologií ČVUT v Praze.

        footer
            .widthWrap
                .innerWrap
                    img.footer-logo(src=require("./img/fitpp.png") alt="FIT++")
                    ul
                        li.strong FIT++, zájmový klub Studentské unie ČVUT
                        li Thákurova 9, 160 00 Praha 6
                        li email: 
                            a(href="mailto:fitpp@su.cvut.cz").invisible-link fitpp@su.cvut.cz
                        li
                            ul.linear-list-with-slash
                                li 
                                    a(href="https://fb.com/klubfitpp" target="_blank") Facebook
                                li
                                    a(href="http://twitter.com/klubFITpp" target="_blank") Twitter
                                li
                                    a(href="https://www.instagram.com/klubfitpp" target="_blank") Instagram
                                li
                                    a(href="https://klubfitpp.cz" target="_blank") Web
                                li
                                    a(href="https://gitlab.com/klubfitpp/hellofit/hellofit_2020") Git
                                li
                                    a(href="https://2019.hellofit.cz") Ročník 2019
                                li #hellofit2020
