- var mainMenu = [{"label": "O akci","link": "#o-akci" }, {"label": "Program","link": "#program" }, {"label": "Minulý ročník","link": "https://2018.hellofit.cz" }, {"label": "REGISTRACE","link": "https://cvut.su/HelloFIT2019" }]

doctype html
html.no-js(lang="")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Hello FIT! 2019
        meta(name="description" content="")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="img/fitpp_white.png" rel="apple-touch-icon")
        link(href='img/fitpp_sqr.png' rel='icon')
        meta(name="theme-color" content="#1174BA")

        link(type="text/css" href="https://use.typekit.net/qlg5ujf.css" rel="stylesheet")

    body

        nav#main-nav
            div.widthWrap
                a(data-scroll href="#header")
                    img#logo(src=require("./img/fitpp_white.png"))
                ul
                    each item in mainMenu
                        li
                            a(href=item.link)=item.label
            
        header#header

            h1 Hello FIT!
            time#date 19. září 2019 od 10:00
            #place Fakulta informačních technologií ČVUT (Nová budova ČVUT)

            #header-buttons
                a.button1(href="https://cvut.su/HelloFIT2019" target="_blank") Registrace
                a.button1(href="https://www.facebook.com/events/2339428502939852/" target="_blank") FB Událost

        main

            article#o-akci
                .widthWrap
                    h2 O akci
                    p Hello FIT! je jednodenní populárně naučný úvod do studia, který ti pomůže s přechodem ze střední školy na FIT. <em>Účast na akci je zdarma</em> a čekají tě zajímavé a užitečné přednášky, workshopy, prohlídky prostor (nejen) fakulty a v neposlední řadě také večerní afterpárty. 
                    p Hello FIT! je nástupcem akce Technokrati, kterou až do roku 2016 pořádal dnes již bývalý klub tech@SU.
                    p Jsou pro vás připravovány také další dvě seznamovací akce. První je oficiální seznamovák všech fakult ČVUT, #[a(href="http://seznamovak.cvut.cz" target="_blank") zaČVUTění], který pro tebe připravuje  #[a(href="http://su.cvut.cz" target="_blank") Studentská unie ČVUT]. Další akcí je #[a(href="http://seznamovak.fit.cvut.cz" target="_blank") Seznamovák FIT], kterou organizují studenti FIT.

            article#program
                .widthWrap
                    h2 Program
                    .program-item
                        h3
                            .program-item--time 9:55
                            .program-item--title Úvodní uvítací přednáška
                            .program-item--host Milan Kurka
                        p.program-item--excerpt

                    .program-item
                        h3
                            .program-item--time 10:00
                            .program-item--title Všechno, cos kdy chtěl vědět o FITu, ale bál ses zeptat
                            .program-item--host Milan Kurka, Marcel Petráň, Michal Hošna
                        p.program-item--excerpt Studium na FITu rozhodně není procházka růžovým sadem. Čeká tě mnoho nových překážek, výzev a . A my ti poradíme, jak to zvládnout! Nabijeme tě informacemi, bez kterých bys první týdny studia jen tápal(a). Povíme ti, jaké budou tvé první dny v kůži vysokoškoláka, jak projít prvním semestrem, jak to na tom FITu vlastně chodí a co všechno jako student můžeš získat. Dozvíš se i informace, na které při Dni otevřených dveří či jiných akcích nezbyl čas, nebo se neříkaly.

                    .program-item
                        h3
                            .program-item--time 12:15
                            .program-item--title Tour de Kampus Dejvice, oběd
                        p.program-item--excerpt Kam budeš chodit na přednášky, cvičení, na oběd, dobré pivo či si jen odpočinout? Na prohlídce Kampusu Dejvice ti ukážeme všechna důležitá místa tak, aby ses první dny na vejšce hned neztratil(a).

                    .program-item
                        h3
                            .program-item--time 14:45
                            .program-item--title Studentská unie ČVUT aneb život vysokoškoláka není jen studium
                            .program-item--host Milan Kurka
                        p.program-item--excerpt Studentský život. To je to, co nám, ČVUŤákům, leckdo závidí. Proč? Protože si můžeme upravit podle sebe, a to především díky aktivitám Studentské unie ČVUT. Láká tě správa serverů na Strahově, kde bydlí přes 4000 lidí? Nebo se chceš podívat na různá místa v zahraničí a ještě se při tom něco naučit? To vše a daleko více je ve Studentské unii ČVUT možné a v této části programu zjistíš víc!

                    .program-item
                        h3
                            .program-item--time 15:15
                            .program-item--title Získej praxi při studiu s Portálem Spolupráce s průmyslem!
                            .program-item--host bude doplněno
                        p.program-item--excerpt Jak získat placenou praxi již při studiu? I na to se na FITu myslí – představíme ti Spolupráci s průmyslem a její možnosti.

                    .program-item
                        h3
                            .program-item--time 15:45
                            .program-item--title Ze života absolventa
                            .program-item--host Vašek Strnad
                        p.program-item--excerpt Čím že budeš, až vystuduješ FIT? Na jakých projektech se jako absolvent budeš moci podílet v praxi? O tom ti povypráví jeden z prvních absolventů FIT ČVUT Vašek Strnad.

                    .program-item
                        h3
                            .program-item--time 16:10
                            .program-item--title Co je matematika?
                            .program-item--host Tomáš Kalvoda, Daniel Dombek
                        p.program-item--excerpt Co je to matematika? Co je to středoškolská matematika? Mají něco společného? Proč je přechod ze středních škol na FIT pro řadu studentů a studentek (nejen) matematických předmětů problematický? Jak se na tento přechod dobře připravit a jak jej zvládnout? Na všechny tyto otázky se pokusíme odpovědět v naší přednášce!

                    .program-item
                        h3
                            .program-item--time 16:55
                            .program-item--title Programování není guláš
                            .program-item--host David Bernhauer
                        p.program-item--excerpt Jak vlastně funguje počítač a jak mu dávat ty nejpřesnější příkazy? Na co je třeba při programování myslet? Praktická ukázka na lidech součástí!

                    .program-item
                        h3
                            .program-item--time 18:00
                            .program-item--title Afterpárty
                        p.program-item--excerpt ... no a pak se přesuneme na afterpárty, kde už bude vše ready na seznamovací pokec a pořádnou párty. A pojede se až do rána!


            article#organizatori
                .widthWrap
                    h2 Organizátoři

                    .contact-boxes-wrapper
                        .contact-box
                            .contact-box--photo-wrapper
                                img(src=require("advanced-image-loader!./img/contacts/milan-kurka.jpg?width=200&quality=80")['src'] alt="Milan Kurka")
                            h3 Milan Kurka
                            .contact-box--link-icons
                                a.contact-box--link-icons--icon(href="https://facebook.com/kurkamil" target="_blank")
                                    img(src=require("./img/icons/facebook-box.svg") alt="facebook" inline)
                                a.contact-box--link-icons--icon(href="https://twitter.com/MilanKurka" title="@MilanKurka" target="_blank")
                                    img(src=require("./img/icons/twitter.svg") alt="twitter" inline)
                                a.contact-box--link-icons--icon(href="mailto:milan.kurka@fit.cvut.cz" title="milan.kurka@fit.cvut.cz" target="_blank")
                                    img(src=require("./img/icons/email-outline.svg") alt="e-mail" inline)
                            p.contact-box--bio Milan je bývalý student FITu, kde momentálně pracuje na PR oddělení, takže ho uvidíš prakticky na každé akci. Zároveň zastává pozici PR ve Studentské unii ČVUT, takže ví, kde se jaká párty rozjíždí. Prsty má také ve festivalech Strahov OpenAir, SHOW Strahov a dalších akcích. Ve volném čase se zajímá o grafický design, nová média a pivo. Jo, hlavně pivo. A rád na něj s vámi zajde!

                        .contact-box
                            .contact-box--photo-wrapper
                                img(src=require("advanced-image-loader!./img/contacts/marcel-petran.jpg?width=200&quality=80")['src'] alt="Marcel Petráň")
                            h3 Marcel Petráň
                            .contact-box--link-icons
                                a.contact-box--link-icons--icon(href="https://facebook.com/marcel.petran.3" target="_blank")
                                    img(src=require("./img/icons/facebook-box.svg") alt="facebook" inline)
                                a.contact-box--link-icons--icon(href="https://twitter.com/marcelpetran" title="@marcelpetran" target="_blank")
                                    img(src=require("./img/icons/twitter.svg") alt="twitter" inline)
                                a.contact-box--link-icons--icon(href="mailto:petram21@fit.cvut.cz" title="petram21@fit.cvut.cz" target="_blank")
                                    img(src=require("./img/icons/email-outline.svg") alt="e-mail" inline)
                            p.contact-box--bio Marcel je zde poměrně nový. Sice studuje bakaláře prvním rokem, ale za tu dobu se stihl zapojit do mnoha projektů. Je také znám jako “Kluk z plakátu” a můžete ho najít na mnoha propagačních materiálech FITu. Kromě toho organizuje LAN party jak na FITu, tak i na své koleji. Aktivně se zapojuje do různých akcí a dělá dokonce admina na Sincoolce. Svůj volný čas využívá ke grafickému a webovému designu a je velký milovník memes, které taky sem tam tvoří.

                        .contact-box
                            .contact-box--photo-wrapper
                                img(src=require("advanced-image-loader!./img/contacts/michal-hosna.jpg?width=200&quality=80")['src'] alt="Michal Hošna")
                            h3 Michal Hošna
                            .contact-box--link-icons
                                a.contact-box--link-icons--icon(href="https://twitter.com/michalhosna" title="@michalhosna" target="_blank")
                                    img(src=require("./img/icons/twitter.svg") alt="twitter" inline)
                                a.contact-box--link-icons--icon(href="mailto:mh@michalhosna.com" title="mh@michalhosna.com" target="_blank")
                                    img(src=require("./img/icons/email-outline.svg") alt="e-mail" inline)
                            p.contact-box--bio Michala už na FITu moc nepotkáte. Nic nestíhá, a to i přesto že už se prakticky vzdal spánku i studia, nestíhá ani tenhle web, za což ho ostatní milují.

                        .contact-box
                            .contact-box--photo-wrapper
                                img(src=require("advanced-image-loader!./img/contacts/jaroslav-kriz.jpg?width=200&quality=80")['src'] alt="Jaroslav Kříž")
                            h3 Jaroslav Kříž
                            .contact-box--link-icons
                                a.contact-box--link-icons--icon(href="https://facebook.com/krizjar5" target="_blank")
                                    img(src=require("./img/icons/facebook-box.svg") alt="facebook" inline)
                                a.contact-box--link-icons--icon(href="https://twitter.com/krizjar5" title="@krizjar5" target="_blank")
                                    img(src=require("./img/icons/twitter.svg") alt="twitter" inline)
                                a.contact-box--link-icons--icon(href="mailto:krizjar5@fit.cvut.cz" title="krizjar5@fit.cvut.cz" target="_blank")
                                    img(src=require("./img/icons/email-outline.svg") alt="e-mail" inline)
                            p.contact-box--bio Jarda je člověk, který neřekne ne na žádnou akci. Takže ho uvidíš organizovat spoustu akcí v rámci fakulty, mimo ní a dokonce i FIT++. A pokud shodou okolností neorganizuje, na té akci se stejně potuluje. Poměrně úspěšně dostudoval bakaláře a pokračuji ve FIT krasojízdě. Neodmítá pozvání na Kofolu. Nebo Malinovku. To záleží. Snaží se věnovat i karate.


            article#prohlaseni
                .widthWrap
                    p Akce je organizována klubem FIT++ za podpory Fakulty informačních technologií ČVUT v Praze.

        footer
            .widthWrap
                .innerWrap
                    img.footer-logo(src=require("./img/fitpp.png") alt="FIT++")
                    ul
                        li.strong FIT++, zájmový klub Studentské unie ČVUT
                        li Thákurova 9, 160 00 Praha 6
                        li email: 
                            a(href="mailto:fitpp@su.cvut.cz").invisible-link fitpp@su.cvut.cz
                        li
                            ul.linear-list-with-slash
                                li 
                                    a(href="https://fb.com/klubfitpp" target="_blank") Facebook
                                li
                                    a(href="http://twitter.com/klubFITpp" target="_blank") Twitter
                                li
                                    a(href="https://www.instagram.com/klubfitpp" target="_blank") Instagram
                                li
                                    a(href="https://klubfitpp.cz" target="_blank") Web
                                li
                                    a(href="https://gitlab.com/klubfitpp/hellofitcz_2019" target="_blank") Git
                                li
                                    a(href="https://2018.hellofit.cz" target="_blank") Ročník 2018
                                li #hellofit2019
